<div class="flashcard">
    <div class="flashcard-front">
        <h3>Front:</h3>
        <p>{{ front }}</p>
    </div>
    <div class="flashcard-back">
        <h3>Back:</h3>
        <p>{{ back }}</p>
    </div>
    <div class="flashcard-edit">
        <a href="/flashcardEdit/{{ col-md-6 }}">Edit</a>
    </div>
</div>
