<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flash Forge Flashcards 🧙</title>
  <button id="logout">Logout</button>
  <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
   
</head>
<body>

  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Flash Forge Flashcards!
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="/js/logout.js"></script>
   
</body>
</html>
