

body {
    background-color: #e0d3af; 
    font-family: 'MedievalFont', serif; 
    margin: 0;
    padding: 0;
}


header {
    background-color: #8b4513; 
    color: #fff; 
    padding: 20px;
}*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700; 
}


.container {
    width: 80%;
    margin: 20px auto;
}

.card {
    background-color: #fff; 
    border: 1px solid #8b4513; 
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    color: #8b4513; 
}

.card p {
    color: #333; 
}


.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family:  'MedievalFont', serif; 
  border-radius: 6px;
  border: none;

  background: #eeeeee;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #878687;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  

}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.button {
    
    background-color: #8b4513; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #cd853f; 
}


/* Footer *
footer {
    background-color: #8b4513; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}
/* Main Page Styling */

/* Background Gradient */
body {
    background: linear-gradient(to bottom, #e54409, #923e1f); 
    font-family: 'MedievalFont', sans-serif; \
    color: #333; 

}

header {
    background-color: #eea929; /
    padding: 20px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.container {
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #d6930d; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}


